@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);


body {
    padding:0px;
    margin:0px;
    
}

.cwml-default-p, .cwml-default-div, .cwml-default-text {
    color: #6600FF;
    font-family: 'Pontano Sans', sans-serif;
    font-size: medium;
} 

.cwml-top-bar{
    background-color:azure;
    position:fixed; 
    top:0px;
    width:100%;
}

h1 {
    font-size: xx-large;
    color: black; 
    font-family: 'Pontano Sans', sans-serif;
}

.cwml-default-elle {
    background-color: #FFFF99;
    color:#000066; 
    font-family: 'Pontano Sans', sans-serif;
    padding:5px; 
    border-radius:5px;
}

.cwml-default-header {
    background-color: #c5dbf3;
    color: #000000;
    font-family: 'Pontano Sans', sans-serif;
}

.cwml-default-dynamic {
    background-color: #0094ff;
    color: white; 
    padding: 5px; 
    border-radius: 5px;
    font-family: 'Pontano Sans', sans-serif;
}

.cwml-default-imageEntry {
    background-position:center;
    background-attachment:fixed; 
    height:100%; 
    background-repeat:no-repeat;
    overflow:hidden;
}

.cwml-default-blog {
    background-image: -webkit-linear-gradient(Top, #0d0137, #550036);
    background-attachment:fixed;
    height:100%;
}

.download-area {
    background-color:rgba(13, 0, 33, 0.70);
    text-align:center; 

}

    .download-area a:link { 
        font-family: 'Pontano Sans', sans-serif; 
        font-size:x-large;
        text-decoration:none;
        color:white;
    }

    .download-area a:hover { 
        font-family: 'Pontano Sans', sans-serif; 
        font-size:x-large;
        text-decoration:underline;
        color:white;
    }

     .download-area a:visited { 
        font-family: 'Pontano Sans', sans-serif; 
        font-size:x-large;
        text-decoration:none;
        color:white;
    }

     .download-area a:active { 
        font-family: 'Pontano Sans', sans-serif; 
        font-size:x-large;
        text-decoration:none;
        color:white;
    }


