<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.webServer>
        <handlers>
            <add name="Cassanra/Custom Markup Lang Handler" path="*cwml" verb="*" type="cassandraParser_t2.CassandraHandler" resourceType="File" preCondition="integratedMode" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="index.cwml" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
